$sm: 576px; // small screens
$md: 768px; // tablets
$lg: 992px; // landscape tablets / laptops

@mixin center-content {
    display: flex;
    justify-content: center;
}

@mixin flex-center() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// Media query mixins
@mixin small-screen() {
    @media only screen and (min-width:$sm) and (max-width:$md) {
        @content;
    }
}

@mixin medium-screen() {
    @media only screen and (min-width:$md) and (max-width:$lg) {
        @content;
    }
}

@mixin large-screen() {
    @media only screen and (min-width:($lg + 1px)) {
        @content;
    }
}