$color-white:rgba(255, 255, 255, 1);
$color-light-grey: rgba(124, 141, 140, 1);
$color-light-black: rgba(52, 54, 53, 1);
$color-black: rgba(0, 0, 0, 1);
// TO FILL OUT
$color-primary: rgba(118, 172, 53, 1); // CHANGE TO ACTUAL COLORS
$color-secondary: rgba(146, 200, 78, 1); // CHANGE TO ACTUAL COLORS
// $color-tertiary: // ADD IF NEEDED