@use "./components/footer";
@use "./components/navbar";
@use "./base/typography.scss";
@use "./components/inputform";
@use "./components/bookings";
@use "./components/button";
@use "./abstracts/mixins";

//Used to push the footer down to the bottom
body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding-top: 80px;
}

header {
    position: fixed;
    width: 100%;
}
