@use "./components/footer";
@use "./components/navbar";
@use "./base/typography.scss";
@use "./components/inputform";
@use "./components/bookings";




$box-shadow: 0px 4px 12px -2px black, //palette.$clr-primary, // CHANGE TO PALETTE
0px 3px 7px -3px black;//palette.$clr-primary;

//Used to push the footer down to the bottom
body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

