@use "../abstracts/palette";
@use "../abstracts/mixins";
@use "../base/typography.scss";

.button {
    padding: 8px 40px;
    border: none;
    background-color: palette.$color-primary;
    font-weight: typography.$fw-bold;
    color: white;

    &:hover {
        background-color: palette.$color-secondary;
        transition: 300ms ease-in-out;
    }
}

.small-button {
    padding: 5px 20px;
    border: none;
    background-color: palette.$color-primary;
    font-weight: typography.$fw-bold;
    color: white;

    &:hover {
        background-color: palette.$color-secondary;
        transition: 300ms ease-in-out;
    }
}

.cancel-button {
    padding: 5px 20px;
    border: none;
    background-color: rgba(224, 82, 96, 1);
    font-weight: typography.$fw-bold;
    color: white;

    &:hover {
        background-color: rgba(231, 116, 128, 1);
        transition: 300ms ease-in-out;
    }
}