@use "../abstracts/mixins";

.navbar-nav {

    display: flex;

    &__link {
        position: relative;
        display: inline-block;
        margin: 0px 15px;
        text-decoration: none;
        color: black;
        display: inline;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            background-color: black; // Change color to global vars
            height: 1px;
            width: 0;
            transition: width 300ms;
        }

        &:hover:after {
            width: 100%;
        }
    }

    &__list {
        display: block;
        padding: 5px 0px;
    }
}

nav {
    @include mixins.box-shadow-effect();
}